*::selection {
    background-color: #123456;
    color: white;
}

h2 {
    margin: 0;
}

:root {
    --bg-color: #be9b7b;
    --text-color: #123456;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px; 
    border-radius: 5px;
    font-size: 17px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 4px 0.5px grey inset;
    border: 1px solid rgba(60, 47, 47, 0.76);
}

button {
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: "Cormorant Garamond", serif;

    background-color: #854442;
    border: 2px solid #854442;
    color: #fff4e6;
}